html,body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imgs/people.jpg);
    background-size: cover;
}

img{
    margin-left: -7%;
    width: 30%;
    border-radius: 3rem;
    opacity: 0.8;
}

.container{
    height: 100%;
    align-content: center;
}

.card-login{
    margin-top: 50px;
    margin-bottom: auto;
    width: 400px;
}

.card-register{
    margin-top: -50px;
    margin-bottom: auto;
    width: 400px;
}

.card-header{
    background-color: rgb(8, 150, 150);
    color: white;
}

.btn-login{
    width: 100px;
}

.btn-reg{
    width: 150px;
    margin-bottom: -20px;
}

.btn:hover{
    text-transform: uppercase;
    color: rgb(8, 150, 150);
}

.links, .button:hover{
    color: rgb(8, 150, 150);
}

.links:hover{
    text-decoration: none;
    color: grey;
}

.captcha-txt{
    border-style: 1px;
    -webkit-appearance:none;
}


/* /////////////////////////
//////FORGOT PASSWORD////
///////////////////////// */

.card-forgot{
    margin-top: 13%;
    margin-bottom: auto;
    width: 500px;   
}

.forgot-pass{
    padding: 0 10%;
}

.btn-forgot:hover{
    color: rgb(8, 150, 150);
    text-transform: none;
}